body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5c054f;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

.content {
    padding: 20px;
}

h2 {
    color: #8630cc;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #530c4d;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
